html{
  background-color: #f6f9e6;
}
header{
  padding: 1em 2em 2em 1em;
  background: darkgrey;
  margin:0em;

}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  color: #fff;
  line-height: .8;
  text-align: center;
}


ol{
  list-style-type: circle;

}
.earth{
  list-style-type: square;
  color: #164ade;
}
h2{
  font-family: 'Oswald', sans-serif;
}
figcaption{
  font-style: italic;
  font-size: .5rem;
}
figure{
  background-color: #f7f9ed;
  border-radius: 2em;
  border: 0.25em solid #dee6b8 ;
  padding: 1em ;
  width: 30em;
}

.m{
  list-style-type: disc;
  color: #f0c04d;
}
.v{
  list-style-type: disc;
  color: #f0c04d
}
blockquote{
  font-style: italic;
  font-weight: bold;
  font-size: 2.5rem;
}
dt{
  font-weight:bold ;
  font-size: 1.5rem;
}
dd{
  font-size: 1.5rem;
}
h2{
  font-size: 2.5rem;
  color: #818076;
}
h3{
  font-size: 2.5rem;
  color: #818076;
}
a{
  color: #7a6501;
  font-size: 1.8rem;
}
cite{
  color: #7f7b50;
  font-size: 1.5rem;
}
strong{
  color: purple;
  font-weight: normal;
}
p{
  font-family: 'Oxygen', sans-serif;
  font-size: 2rem;
}
li{
  font-size: 2rem;
}
nav li{
  background-color: darkred;
  display: inline-block;
  padding: 10px ;
  border: 0.2em dotted;


}

nav ol{
  padding: 1em;
  margin: 0em;
  text-align: center;
}
body{
  margin: 0em;


}
